/* Váriaveis para componentes tipo Buttons */
:root {
	--button-bg-color: transparent;
	--button-text-color: transparent;
	--button-spacing: 0.75rem;
	--button-text-size: inherit;
}

/* Váriaveis para componentes tipo BackLink Button */
:root {
	--button-relative-top-position: var(--espacamento);
	--button-relative-left-position: var(--espacamento);
}
