@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('./styles/reset.css');
@import url('./styles/colors.css');

:root {
  --tamanho-do-titulo: 2rem;
  --tamanho-do-subtitulo: 1.5rem;
  --espacamento: 12px;
  --borda-arredondada: 12px;
  --largura-do-app: 1080px;
  --da-bunda0: 200px;
  --da-bunda1: 500px;
  --block-qtds: 6;
  --block-size: calc(
    calc(
        var(--largura-do-app) -
          calc(calc(var(--block-qtds) + 1) * var(--espacamento))
      ) / var(--block-qtds)
  );

  --box-shadow-color: #212529;
  --box-shadow: 4px 4px 6px var(--box-shadow-color);
  --box-shadow-hover: 4px 4px 6px var(--primary-color);
  --box-shadow-transition: box-shadow 0.3s ease;

  --primary-color: #0d6efd;

  --button-bg-color: transparent;
  --button-text-color: transparent;
  --button-spacing: 0.75rem;
  --button-text-size: inherit;

  --header-height: 350px;
  --header-response-width: 20%;
  --header-min-response-width: 120px;
}

body {
  background-color: var(--page-color);
  color: var(--primary-text-color);
}

the-cherry-25-app {
  width: var(--largura-do-app);
}
